extends ./layout.jade

block scripts
  script(src="/js/app.bundle.js")

block content
  .message
    | Welcome, #{name}

  #chat(data-name=name)
    #user_list
    #messages
    form#message
      input(type="text", name="message")
      input(type="submit", value="Post")
