doctype html
html
  head
    title Mesh Chat
    link(rel="stylesheet", href="/css/application.css", type="text/css")
    block scripts

  body
    header
      h1 Mesh Chat
    #content
      block content
    footer
      .copyright &copy; Brandon Farmer 2015
